@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #83cec2;

/* var(--secondaryColor) !important; */
--secondaryColor: #0602ff;

/* var(--accentColor) !important; */
--accentColor: #3adcb6;

/* var(--fontFamily) !important; */
--fontFamily: "Josefin Sans", sans-serif;

}