<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <!-- About / Story -->
          <li class="nav-item">
            <a class="nav-link" href="our-story.html">Our Story</a>
          </li>

          <!-- Boards Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Boards </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="multi-board.html">The MultiSurf Board</a></li>
              <li><a class="dropdown-item" href="wake-surf.html">Wake Surf Models</a></li>
              <li><a class="dropdown-item" href="ocean-surf.html">Ocean Surf Models</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="board-comparison.html">Compare Boards</a></li>
            </ul>
          </li>

          <!-- Donate / Support -->
          <li class="nav-item">
            <a class="nav-link" href="support-us.html">Support Us</a>
          </li>

          <!-- Contact -->
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>
